__pycache__/
*.py[cod]
*$py.class
__pypackages__/
/site
.mypy_cache/
/assets/.pytest_cache/
/assets/src/.pytest_cache/
/python_base/filter_lib/build
/python_base/filter_lib/dist
/python_base/filter_lib/filter_lib.egg-info
/.pytest_cache/
.coverage
.coverage.*
.pytest_cache/
.venv
../venv/
.idea/
/preprocessing/dev*
/preprocessing/.coverage
/preprocessing/*.log
/users/data
